<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
  </head> 
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
      </div>
      <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick="x_admin_show('添加用户','{:url("Admin/admin_add")}')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>
      <!--<table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>登录名</th>
            <th>角色</th>
            <th>加入时间</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
          {foreach $adminRes as $key=>$admin}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$admin.id}</td>
            <td>{$admin.admin_name}</td>
            <td>
            	{eq name="admin.flag" value="0"}
				普通管理员
				{else/}
				高级管理员
				{/eq}
            </td>
            <td>{$admin.time|date="Y-m-d H:i:s"}</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
            <td class="td-manage">
              <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                <i class="layui-icon">&#xe601;</i>
              </a>
              <a title="编辑"  onclick="x_admin_show('编辑','{:url("Admin/admin_edit")}?id='+{$admin.id})" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" onclick="member_del(this,'{$admin.id}')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
          {/foreach}
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>-->

    </div>
    <table id="demo" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
			  <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
			  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
			</script>
    <script>
      layui.use(['table','layer','form','upload','laydate','laypage'], function(){
		        var laydate = layui.laydate;
		        var table=layui.table;
		        var laypage = layui.laypage; 
		        //执行一个laydate实例
		        laydate.render({
		          elem: '#start' //指定元素
		        });
		
		        //执行一个laydate实例
		        laydate.render({
		          elem: '#end' //指定元素
		        });
		        var tableIns=table.render({
						    elem: '#demo'
						    ,align:'center'
						    ,url: '{:url("Admin/adminData")}' //数据接口
						    ,page: true //开启分页
						    ,toolbar: 'default'
						    ,defaultToolbar: ['filter', 'print', 'exports']
						    ,cols: [[ //表头
						      {field: 'id', title: 'ID'}
						      ,{field: 'admin_name', title: '登录名'}
						      ,{field: 'flag', title: '角色'}
						      ,{field: 'time', title: '加入时间'} 
						      ,{fixed: 'right', title: '操作',align: 'center',toolbar: '#barDemo'}
						    ]]
						    ,id: 'testReload'
						    ,page: {
						    curr: 1 //重新从第 1 页开始
						    ,layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
					      //,curr: 5 //设定初始在第 5 页
					      ,limit:10 //一页显示多少条
					      ,limits:[5,10,15,20,25,30]//每页条数的选择项
					      ,groups: 5 //只显示 2 个连续页码
					      ,first: "首页" //不显示首页
					      ,last: "尾页" //不显示尾页
								}
						});
						 var $ = layui.$, active = {
			            reload: function(){
			                //执行重载
			                table.reload('testReload', {
			                    page: {
			                        curr: 1 //重新从第 1 页开始
			                   }
			                });
			            }
				      };
				     table.on('tool(test)',function(obj){
				     	   var data=obj.data;
				     	   var layevent=obj.event;
				     	   if(layevent=='update'){
				     	   	    layer.open({
				     	   	    	  area:['1000px','700px'],
				     	   	    	  type:2,
				     	   	    	  content:'{:url("Admin/admin_edit")}?id='+obj.data.id,
				     	   	    	  end:function(){
													    //执行重载
												      table.reload('testReload', {
												        page: {
												          curr: 1 //重新从第 1 页开始
												        }
												      }); 
												  } 
				     	   	    });
				     	   }else if(layevent=='delete'){
				     	   	    $.post('{:url("Admin/admin_del")}',{id:obj.data.id},function(res){
				     	   	    	   if(res==true){
				     	   	    	   	   layer.msg("删除成功", {icon: 6, time: 2000 });
				     	   	    	   	   table.reload('testReload', {
													        page: {
													          curr: 1 //重新从第 1 页开始
													        }
													      });
				     	   	    	   }else{
				     	   	    	   	   layer.msg("删除失败", {icon: 6, time: 2000 });
				     	   	    	   	   table.reload('testReload', {
													        page: {
													          curr: 1 //重新从第 1 页开始
													        }
													      });
				     	   	    	   }
				     	   	    });
				     	   }
				     	   //console.log(layevent);
				     })
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
          	  var adminid=id;
          	  $.post('{:url("Admin/admin_del")}',{'adminid':adminid},function(res){
				        	console.log(res);
				        	if(res==true){
				        		    $(obj).parents("tr").remove();
                        layer.msg("删除成功",{icon:1,time:1000});
				                /*layer.msg("删除成功", {icon: 6, time: 2000 }, function() {
				                    location.href='{:url("Index/index")}';
				                });*/
				        	}else{
				        		   layer.msg("删除失败",{icon:1,time:1000});
				        	}
			        });
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>