<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style type="text/css">
		.logoimg,.center{
			margin: 0px auto;
			text-align: center;
			/*border: 1px solid #006666;*/
		}
		.logoimg>img{
			width: 150px;
			height: 150px;
		}
		.title{
			font-size: 40px;
			font-weight: bold;
		}
		.littletitle,.center>p{
			font-size: 20px;
			
		}
		.center>img{
			width: 250px;
			height: 250px;
		}
	</style>
	<body>
		<div class="logoimg" style="margin-top: 40px;">
			<img src="/public/static/images/67287bc8536912630891aecf64c3ec1.png" />
			<div class="title">存酒</div>
			<div class="littletitle">
				存酒管理系统
			</div>
		</div>
		<div class="center">
			<p>微信登录</p>
			<img src="/public/static/images/8b10ee2b992f73c3fb24456b723ebc0.png" />
		</div>
	</body>
</html>
