<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript">
    	  
    </script>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" action='' method="post" id="addfoods">
	    	    <input type="hidden" value="{$user_id}" name="user_id" />
	    	    <input type="hidden" value="{$order_no}" name="order_no" />
	    	    <div class="layui-form-item">
			          <label for="username" class="layui-form-label">
			              <span class="x-red">*</span>选择店铺
			          </label>
			          <div class="layui-input-inline">
			              <select id="shipping" name="shipping" class="valid" lay-filter="test">
			              	{foreach $shoplistdata as $key=>$shoplist}
			                <option value="{$shoplist.id}">{$shoplist.shop_name}</option>
			                {/foreach}
			              </select>
			          </div>
	          </div>
	          <div class="layui-form-item">
			          <label for="username" class="layui-form-label">
			              <span class="x-red">*</span>菜品分类
			          </label>
			          <div class="layui-input-inline">
			              <select id="category" name="category" class="valid" lay-filter="category" >
			                <option value="0">选择菜品分类</option>
			              </select>
			          </div>
	          </div>
	          <div class="layui-form-item">
			          <label for="username" class="layui-form-label">
			              <span class="x-red">*</span>菜品名称
			          </label>
			          <div class="layui-input-inline">
			              <select id="foods" name="food_name" class="valid" lay-filter="foods" >
			                <option value="0">选择菜品</option>
			              </select>
			          </div>
	          </div>
	          <div class="layui-upload">
	          	  <label for="username" class="layui-form-label">
			              <span class="x-red">*</span>菜品图片
			          </label>
			          <button type="button" class="layui-btn" id="test1">
									  <i class="layui-icon">&#xe67c;</i>上传图片
								</button>
							  <div class="layui-upload-list">
							    <img class="layui-upload-img" id="foodsimage">
							    <input type="hidden" name="image" value="" class="foodsimage">
							    <p id="demoText"></p>
							  </div>
						</div>   
	          <div class="layui-form-item">
			          <label for="username" class="layui-form-label">
			              <span class="x-red">*</span>菜品规格
			          </label>
			          <div class="layui-input-inline" id="foodsspec">
			          </div>
	          </div>
	         <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>炒菜师傅
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="cook_id" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <!--<input type="submit" value="增加" class="layui-btn" lay-filter="add" id="tianjia"/>-->
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                             增加
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form', 'layer','upload','laydate'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        form.on('select(test)', function(data){  
           var shop_id=data.value;
           $.ajax({
           	type:"get",
           	url:"/index.php/admin/Common/selectShopCategory",
           	data:{
           		 'shop_id':shop_id
           	},
           	dataType:'json',
           	success:function(data){
           		$('#category').html('');
           		var stringcate='';
           		 if(data!=''){
           		 	   for(var i=0;i<data.length;i++){
           		 	   	   stringcate+='<option value="'+data[i].id+'">'+data[i].category_name+'</option>'
           		 	   }
           		 }else{
           		 	   stringcate+='<option>请选择菜品分类</option>';
           		 }
           		 $('#category').html(stringcate);
           		 form.render();
           	}
           	
           });
            
        });
        form.on('select(category)', function(data){
	           var category_id=data.value;
	            $.ajax({
	           	type:"get",
	           	url:"/index.php/admin/Common/selectShopFoods",
	           	data:{
	           		 'category_id':category_id
	           	},
	           	dataType:'json',
	           	success:function(data){
	           		//console.log(data);
	           		$('#foods').html('');
	           		var stringcate='';
	           		 if(data!=''){
	           		 	   for(var i=0;i<data.length;i++){
	           		 	   	   stringcate+='<option value="'+data[i].id+'">'+data[i].food_name+'</option>'
	           		 	   }
	           		 }else{
	           		 	   stringcate+='<option>请选择菜品</option>';
	           		 }
	           		 $('#foods').html(stringcate);
	           		 form.render();
	           	}
	           	
	           });
        });
        form.on('select(foods)', function(data){
        	   var food_id_spec=data.value;
	           console.log(food_id_spec);
	            $.ajax({
	           	type:"get",
	           	url:'/index.php/admin/Common/selectFoodsSpec',
	           	data:{
	           		 'food_id_spec':food_id_spec
	           	},
	           	dataType:'json',
	           	success:function(data){
	           		//console.log(data);
	           		$('#foodsspec').html();
	           		var specstring='';
	           		for(var i=0;i<data[0].length;i++){
	           			   specstring+='<div class="layui-form-item"><label for="username" class="layui-form-label"><span class="x-red">*</span>'+data[0][i].spec_name
			          +'</label><div class="layui-input-inline"><select id="foodsspec'+i+'" name="foodsspec'+i+'" class="valid" lay-filter="foodsspec'+i+'" >';
			              for(var j=0;j<data[1][i].length;j++){
			              	    specstring+='<option value="'+data[1][i][j].id+'">'+data[1][i][j].attribute_name+'</option>';
			              }
			              specstring+='</select></div></div>';
	           		}
	           		specstring+='<input type="hidden" value="'+data[0].length+'" class="speclen" name="speclen">';
	           		$('#foodsspec').html(specstring);
			          form.render();    
	           	}
	           	
	           });
        });
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });
				 var upload = layui.upload;
				  //执行实例
				  var uploadInst = upload.render({
				    elem: '#test1' //绑定元素
				    ,url: '{:url("shop/shopImage")}' //上传接口
				    ,done: function(res){
				      //上传完毕回调
				      var foodsimage=res.filename
				       //console.log(foodsimage);
				       $('#foodsimage').attr('src',foodsimage);
				       $('.foodsimage').val(foodsimage);
				    }
				    ,error: function(){
				      //请求异常回调
				    }
				  });
	          //监听提交
	        form.on('submit(add)', function (data) {
	            var formData = $("#addfoods").serializeArray();
	            $.post('{:url("Order/insertOrderFoodList")}',formData,function (res) {
	            	console.log(res);
	                /*if (res==1){
	                      layer.alert(res.msg, {icon: 6}, function () {
	                        window.parent.location.reload();
	                        var index = parent.layer.getFrameIndex(window.name);
	                        parent.layer.close(index);
                    });
	                }else {
	                    layer.msg(res.msg, {icon: 5});
	                }*/
	            });
	            return false;
	        });
        });
        
    </script>
  </body>

</html>